@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

input,
select,
textarea {
  background: white;
  color: rgb(66, 66, 66);
}

input::placeholder,
textarea::placeholder {
  color: rgb(93, 93, 93);
}

table {
  color: var(--foreground);
}

table a:not(.btn) {
  color: #1d70b8;
  text-decoration: underline;
}

table a.btn {
  color: white;
  text-decoration: none;
}

dl {
  color: var(--foreground);
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 0.5rem 1rem;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0;
}
